// SCSS Variables

// Colors
$brand-black: #222222;
$brand-one: darkgrey;
$brand-two: lightgrey;
$hover-brand-two: darkgrey;
$brand-grey: #f6fafb;
$hover-grey: #edf3f5;

// Pixels
$small-margin-top: 32px;
$small-margin-bottom: 32px;
$large-margin-top: 70px;
$large-margin-bottom: 140px;
