// SCSS Variables

// Colors
$brand-black: #111111;
$brand-one: #252525;
$brand-two: #525252;
$hover-brand-two: #111111;
$social-grey: #f6fafb;
$social-hover: #edf3f5;

// Pixels
$small-margin-top: 32px;
$small-margin-bottom: 32px;
$large-margin-top: 70px;
$large-margin-bottom: 140px;
